<% provide(:title, "About") %>
<h1>About</h1>
<p>
	This is a demo twitter like app developerd by <a href="http://harshsingh.me/"><em>Harsh Singh.</em></a>
	<br>
  This app was developed using <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> 
</p>

