<footer class="footer">
	<small>
		The <a href="http://rubyonrails.org/">Ruby on Rails Demo app</a>
		by <a href="http://harshsingh.me/">Harsh Singh</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://twitter.com/harshs08">Twitter</a></li>
			<li><a href="http://weblog.rubyonrails.org/">News</a></li>
		</ul>
	</nav>
</footer>